.judul h4 {
    color :blue;
    text-align: center;
}
.judul h5 {
    color:blue;
    text-align: center;
}

.card1 {
    padding-left: 90px;
    text-align: center;
}
.card2 {
    padding-left: 50px;
    text-align: center;
}
.card3 {
    padding-left: 50px;
    text-align: center;
}


.card-img1 {
    height: 180px;
    width: 270px;
}

.card-imgbooking1 {
    height: 300px;
    width: 500px;
}